/*================================================================
=            Styling to target different email client            =
================================================================*/

body {
  margin: 0 !important;
  padding: 0;
  background-color: #ffffff;
}

table {
  border-spacing: 0;
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
  color: #383a40;
  table-layout: fixed;
  border-collapse:collapse;
  padding: 0;
}

td {
  padding: 0;
}

img {
  border: 0;
}

/**
 * This rule is used in conjunction with !important on our body margin to zero
 * some unwanted padding in Android 4.4’s native mail client.
 */
div[style*="margin: 16px 0"] {
  margin:0 !important;
}

.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.webkit {
  max-width: 600px;
  Margin: 0 auto;
}

.outer {
  /**
   * Though this use of margin is for Yahoo’s sake, I always capitalise Margin
   * so that Outlook.com won’t strip it out–a neat little hack.
   */
  Margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.inner {
  padding: 10px;
}

p {
    Margin: 0;
}

.full-width-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* One column layout */
.one-column .contents {
  text-align: left;
}

.one-column p {
  Margin-bottom: 10px;
}

/*Two column layout*/
.two-column {
  text-align: center;
  font-size: 0;
}

.two-column .column {
  width: 100%;
  max-width: 300px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  Margin: 0;
}

.max-height-300 {
  max-height: 300px;
}

.contents {
  width: 100%;
}

.two-column .contents {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

.two-column img {
  width: 100%;
  /*max-width: 280px;*/
  height: auto;
}

.two-column .text {
  padding-top: 10px;
}

/*Three column layout*/
.three-column {
  text-align: center;
  font-size: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.three-column .column {
  width: 100%;
  max-width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.three-column .contents {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.three-column img {
  width: 100%;
  max-width: 180px;
  height: auto;
}

.three-column .text {
  padding-top: 10px;
}

.size-100 {
  max-width: 100px !important;
}

.size-150 {
  max-width: 150px !important;
}

.size-200 {
  max-width: 200px !important;
}

.size-300 {
  max-width: 300px !important;
}

/*=====  End of Styling to target different email client  ======*/


/*===========================================================
=            Flight centre style guide for email            =
===========================================================*/
/* Write email specific css below only in this section. */

body {
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
}

.h1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 58px;
  line-height: 55px;
  color: #cc0c00;
  Margin-bottom: 18px;
}

.h2 {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  Margin-bottom: 12px;
}

.h3 {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  Margin-bottom: 12px;
}

.subtitle {
  font-family: Arial;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: white;
}

a {
  text-decoration: none;
  color: #707072;
}

.header-link {
  padding: 0 5px;
  color: #b9b9b9;
  text-decoration: underline;
}

.link {
  font-family: Arial;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #116AB2;
  text-decoration: none;
  padding: initial;
}

.link::after {
  content: "\00bb";
  padding-left: 5px;
}

.footer-link {
  font-size: 14px;
  padding: 0 10px;
}

.special-paragraph {
  font-family: Arial;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #cc0c00;
}

.signature {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #cc0c00;
}

.label {
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.consultant-telephone,
.consultant-email {
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #116AB2;
  text-decoration: none;
}

.term-and-condition {
  font-family: Arial;
  font-weight: normal;
  font-size: 10px;
  line-height: 14.4px;
  text-align: justify;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.two-column-table td {
  width: 50%;
  padding: 25px 10px;
}

.border-bottom {
  border-bottom: 2px solid #f4f4f4;
}

.margin-top-10 {
  Margin-top: 10px !important;
}

.margin-top-20 {
  Margin-top: 20px !important;
}

.margin-top-30 {
  Margin-top: 30px !important;
}

.margin-top-40 {
  Margin-top: 40px !important;
}

.margin-bottom-10 {
  Margin-bottom: 10px !important;
}

.margin-bottom-20 {
  Margin-bottom: 20px !important;
}

.margin-bottom-30 {
  Margin-bottom: 30px !important;
}

.margin-bottom-40 {
  Margin-bottom: 40px !important;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.bullets {
  padding-left: 20px;
}

.bullets-point {
  padding: 20px 10px;
}

img.width-auto {
  width: auto;
}

.full-height {
  height: 100%;
}

hr {
  background-color: #f4f4f4;
  height: 1px;
  border: 0;
}

.fc-red {
  color: #cc0c00;
}

.fc-bg-red {
  background: #cc0c00;
}

.white {
  color: #fff;
}

.social-icon {
  width: 20px;
  display: inline-block;
  padding: 10px;
}

.support-icon {
  text-align: right;
}
/*=====  End of Flight centre style guide for email  ======*/

